.indivPostContainer {
    /* margin: 3rem auto; */
    width: 100%;
    max-width: 50rem;
    border-radius: 6px;
    background-color: #38015c;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    margin: 1rem auto;
    color: white;
    font-weight: bold;
}

.indivPostContainer p {
    word-wrap: break-word;
}

.indivPostContainer h4 {
   display: flex;
}

#comments {
    color: white;
    text-align: center;
}


.dateTimeFormat{
    display: flex;
    justify-content:space-around
}


.likeBtn{
    height: 38px;
    padding: 0 30px;
    font-size: 11px;
    background-color: transparent;
    border: none;
    position: relative;
    float: inline-start;
    outline: none;
    cursor: pointer;

}

.interactContainer{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    margin: 1rem auto;
}

.interactContainer ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: baseline;
    margin: 1rem auto;

  }
  
  .interactContainer li {
    margin: 0 1rem;
  }

  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #9f5ccc;
    border: 1px solid #9f5ccc;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }
  
  .actions button:hover {
    background-color: #873abb;
    border-color: #873abb;
  }

  .actions textarea {
    font: inherit;
    background-color: #f1e1fc;
    color: #38015c;
    border-radius: 4px;
    border: 1px solid white;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
    margin-bottom: 1rem;
  }

  .allPostsContainer{
    list-style-type: none;
    margin-right: 40px;
}